.side {
	width: 25vw;
	background: rgba(0, 0, 0, 0.02);
	left: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
}

.content {
	width: 75vw;
	background: rgba(0, 0, 0, 0.03);
	right: 0;
}

.controls {
	display: none;
	position: fixed;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	padding: 15px;
	bottom: 0;
	transform: translateY(-50%);
}

.side, .content {
	box-sizing: border-box;
	height: calc(100% - 34px);
	position: fixed;
	bottom: 0;
	padding: 25px;
	font-family: "Roboto", sans-serif;
	overflow: auto;
}

::-webkit-scrollbar {
	display: none;
}

.clear::after {
	clear: both;
	content: "";
	display: block;
}

.title h2 {
	float: left;
}

.title h2, .no-class h2 {
	font-weight: 900;
	font-size: 2em;
	color: #545454; 
}

.no-class h2 {
	text-align: center;
}

.title h2, .title p, .students li p, .controls p {
	display: inline-block;
}

.students li p.points {
	float: right;
}

.students li p.name {
	cursor: text;
}

.classes, .students {
    list-style-type: none;
	margin: 0;
}

.classes li, .students li {
	display: block;
	padding: 12px;
}

.classes li {
	border-radius: 10px;
}

.students li {
	border-radius: 20px;
	padding: 12px 20px;
}

.students li.select {
	background: #8DC26F;
}

input {
	border: 0;
	background: transparent;
	width: 100%;
}

input, .title p, .controls p, .students li.select {
	color: #fff;
}

:focus {
	outline: none;
}

.classes li, .title p, .students li, .controls p {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	transition: all 0.1s ease;
}

.classes li:not(.no-classes), .title p, .students li:not(.no-students), .controls p {
	cursor: pointer;
}

.title p, .controls p {
	border-radius: 50%;
	padding: 10px 13px;
}

.title p {
	float: right;
}

.side .title p, .content .title p:last-child {
	background: #0072ff;
}

.content .title p:not(:last-child), .controls p:last-child {
	background: #e35d5b;
}

.content .title p:not(:last-child), .controls p:not(:first-child) {
	margin-left: 10px;
}

.controls p:not(:last-child) {
	background: #6a3093;
}

.classes li:not(:last-child), .title, .classes, .students li:not(:last-child), .students {
	margin-bottom: 1em;
}

.classes li:hover:not(.no-classes), .title p:hover, .students li:hover:not(.no-students), .controls p:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.classes li p.points {
	font-weight: 500;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
}

.classes li p.name {
	font-weight: 700;
	font-size: 15px;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html, body, .classes li, .students li, .controls {
	background: #fff;
}

html, body, ul, input {
	padding: 0;
}

html, body, .title h2, .classes li p, .title p, .no-class h2, .students li p, .controls p {
	margin: 0;
}